{% extends 'crm/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="pull-right margin-bottom mb-2">
            <a class="btn btn-success" href="{% url 'crm:request_create' %}">Utwórz zgłoszenie</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table id="requests-table" class="table table-bordered table-hover table-striped" width="100%">
                    <thead>
                        <tr>
                            <th style="width: 80px">Nr zgłoszenia</th>
                            <th>Typ specjalisty</th>
                            <th>Opis</th>
                            <th style="width: 160px">Preferowany czas</th>
                            <th style="width: 90px">Status</th>
                            <th style="width: 48px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    var table = $('#requests-table').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        lengthChange: true,
        pageLength: 10,
        autoWidth: false,
        ajax: {
            url: "{% url 'crm:request_ajax' %}",
            type: "GET"
        },
        order: [[0, 'desc']],
        columns: [
            {data: 'pk', name: 'pk'},
            {data: 'master_type', name: 'master_type', orderable: false, searchable: false},
            {data: 'description', name: 'description', orderable: false, searchable: false},
            {data: 'date_time', name: 'date_time'},
            {data: 'status', name: 'status', orderable: false, searchable: false},
            {data: 'actions', name: 'actions', orderable: false, searchable: false}
        ],
        language: {
            processing: "Ładowanie...",
            lengthMenu: "Pokaż _MENU_ wpisów",
            zeroRecords: "Brak wyników",
            info: "Wyświetlono _START_–_END_ z _TOTAL_ wpisów",
            infoEmpty: "Brak wpisów",
            infoFiltered: "(odfiltrowano z _MAX_ wpisów)",
            paginate: {first: "Pierwsza", last: "Ostatnia", next: "»", previous: "«"}
        }
    });
});
</script>
{% endblock %}
