<p>
    Witamy w MójDom24 {{ user.email }}!
</p>

<p>
    Aby potwierdzić swoje konto, kliknij poniższy link:
</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'authentication:registration_complete' uidb64=uid token=token %}">
        Potwierdź konto
    </a>
</p>

<p>
    Jeśli kliknięcie powyższego linku nie działa, skopiuj i wklej adres URL w nowym oknie przeglądarki:
    <br>{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
</p>

<p>
    Z poważaniem,
    <br>Zespół MójDom24
</p>
