{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="https://myhouse24.demodev.cc/favicon.png">
    <title>Вход</title>
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/iCheck/flat/blue.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
    <link href="{% static 'dist/css/custom.css' %}" rel="stylesheet"></head>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#">
                    <img src="https://myhouse24.demodev.cc/logo.svg" alt="logo">
                </a>
            </div>
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="box-body">
                        <p>
                            Ссылка для активации аккаунта недействительна, возможно, потому что она уже была использована.
                            Пожалуйста, активируйте аккаунт заново.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'assets/137cc266/jquery.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
        <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
        <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.ru-RU.js' %}"></script>
        <script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
        <script src="{% static 'dist/js/main.js' %}"></script>
        <script src="{% static 'dist/js/custom.js' %}"></script>
    </body>
</html>
