<p>
    Dzień dobry, {{ user.email }}!
</p>

<p>
    Aby zresetować hasło do Twojego konta, kliknij poniższy link:
</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}">
        Zresetuj hasło
    </a>
</p>

<p>
    Jeśli kliknięcie w link nie działa, skopiuj i wklej URL do przeglądarki:<br>
    {{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
</p>

<p>
    Z poważaniem,<br>Zespół MyHouse24
</p>
