{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-lg-9">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green overflow-hidden">
                    <div class="inner">
                        <h3>{{ cashbox_state|default:"0.00" }} zł</h3>
                        <p>Stan kasy</p>
                    </div>
                    <div class="icon"><i class="fa fa-dollar"></i></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-blue overflow-hidden">
                    <div class="inner">
                        <h3>{{ accounts_balance|default:"0.00" }} zł</h3>
                        <p>Saldo kont</p>
                    </div>
                    <div class="icon"><i class="fa fa-dollar"></i></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-red overflow-hidden">
                    <div class="inner">
                        <h3>{{ accounts_debt|default:"0.00" }} zł</h3>
                        <p>Zadłużenie kont</p>
                    </div>
                    <div class="icon"><i class="fa fa-dollar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="btn-group pull-right margin-bottom">
            <a href="{% url 'finances:payment_receipts_create' %}" class="btn btn-success">Utwórz rachunek</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <button id="clear-filters" type="button" class="btn btn-default btn-sm">
                        <span class="hidden-xs">Wyczyść</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div id="w0" class="grid-view">
                <div class="box-body table-responsive no-padding">
                    <table id="receipts-table" class="table table-bordered table-hover table-striped linkedRow" width="100%">
                        <thead>
                            <tr>
                                <th style="width: 125px; min-width: 125px">Nr rachunku</th>
                                <th style="width: 100px; min-width: 100px">Status</th>
                                <th style="width: 125px; min-width: 125px">Data</th>
                                <th style="width: 135px; min-width: 135px">Miesiąc</th>
                                <th>Mieszkanie</th>
                                <th style="min-width: 200px">Właściciel</th>
                                <th style="width: 120px; min-width: 120px">Zaksięgowano</th>
                                <th style="width: 100px; min-width: 100px">Kwota (zł)</th>
                                <th style="width: 90px; min-width: 90px">&nbsp;</th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <th><input type="text" class="form-control form-control-sm dt-filter" data-name="uid"></th>
                                <th>
                                    <select class="form-control form-control-sm dt-filter" data-name="status">
                                        <option value=""></option>
                                        <option value="paid">Opłacono</option>
                                        <option value="partially paid">Częściowo opłacono</option>
                                        <option value="not_paid">Nie opłacono</option>
                                    </select>
                                </th>
                                <th><input type="text" class="form-control form-control-sm dt-filter" data-name="date" placeholder="dd.mm.rrrr"></th>
                                <th></th>
                                <th><input type="text" class="form-control form-control-sm dt-filter" data-name="flat"></th>
                                <th>
                                    <select id="pr-owner-filter" class="form-control form-control-sm dt-filter" data-name="owner">
                                        <option value=""></option>
                                    </select>
                                </th>
                                <th>
                                    <select class="form-control form-control-sm dt-filter" data-name="is_checked">
                                        <option value=""></option>
                                        <option value="1">Zaksięgowano</option>
                                        <option value="0">Nie zaksięgowano</option>
                                    </select>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    var urlParams = new URLSearchParams(window.location.search);
    window._prBankBookId = urlParams.get('bank_book_id') || '';

    $('[data-toggle="tooltip"]').tooltip();

    $('#pr-owner-filter').select2({
        width: '100%',
        allowClear: true,
        placeholder: '',
        language: 'pl',
        ajax: {
            url: "{% url 'users:owner_select2' %}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {term: params.term || '', page: params.page || 1};
            },
            processResults: function (data) { return data; },
            cache: true
        }
    });

    var table = $('#receipts-table').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        lengthChange: true,
        pageLength: 25,
        orderCellsTop: true,
        autoWidth: false,
        ajax: {
            url: "{% url 'finances:payment_receipts_ajax_list' %}",
            type: "GET",
            data: function (d) {
                d.uid = $('[data-name="uid"]').val();
                d.status = $('[data-name="status"]').val();
                d.date = $('[data-name="date"]').val();
                d.flat = $('[data-name="flat"]').val();
                d.owner = $('[data-name="owner"]').val();
                d.is_checked = $('[data-name="is_checked"]').val();
                d.bank_book_id = window._prBankBookId || '';
            }
        },
        order: [[2, 'desc']],
        columns: [
            {data: 'random_number', name: 'random_number'},
            {data: 'status', name: 'status', orderable: false, searchable: false},
            {data: 'date_from', name: 'date_from'},
            {data: 'period', name: 'period', orderable: false, searchable: false},
            {data: 'flat', name: 'flat', orderable: false, searchable: false},
            {data: 'owner', name: 'owner', orderable: false, searchable: false},
            {data: 'completed', name: 'completed', orderable: false, searchable: false},
            {data: 'amount', name: 'amount', orderable: false, searchable: false},
            {data: 'actions', name: 'actions', orderable: false, searchable: false}
        ],
        createdRow: function (row, data) {
            if (data.row_href) {
                $(row).attr('data-href', data.row_href);
                $(row).css('cursor', 'pointer');
            }
        },
        drawCallback: function () {
            $('[data-toggle="tooltip"]').tooltip();
        },
        language: {
            processing: "Ładowanie...",
            lengthMenu: "Pokaż _MENU_ rekordów",
            zeroRecords: "Nic nie znaleziono",
            info: "Pokazano od _START_ do _END_ z _TOTAL_ rekordów",
            infoEmpty: "Brak rekordów",
            infoFiltered: "(przefiltrowano z _MAX_ rekordów)",
            paginate: {first: "Pierwsza", last: "Ostatnia", next: "»", previous: "«"}
        }
    });

    var reloadTable = function () {
        table.ajax.reload(null, true);
    };

    var debounceTimer = null;
    $(document).on('input', '.dt-filter[type="text"]', function () {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(reloadTable, 400);
    });
    $(document).on('change', 'select.dt-filter', reloadTable);

    $('#clear-filters').on('click', function () {
        $('.dt-filter').each(function () {
            $(this).val('');
            if ($(this).is('select')) {
                $(this).trigger('change.select2');
            }
        });
        reloadTable();
    });

    $(document).on('click', '#receipts-table tbody tr[data-href]', function (e) {
        if ($(e.target).closest('a, button, form, input, select, .select2-container').length) return;
        window.location.href = $(this).data('href');
    });
});
</script>
{% endblock %}
